/* Table Styles */

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    max-width: 50%;
    white-space: nowrap;
    background-color: white;
    index:10;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid black;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
    border: 1px solid black;
}